<!--<div>
      
  <p>
      Welcome {{ loginService.currentUser.firstName}}, {{ loginService.currentUser.lastName}}
    </p>
  </div>
-->
<app-headernav></app-headernav>
<app-sidenav></app-sidenav>
  
  <div id="main">
    <br>
      <h1>WFD Labs Pvt Ltd</h1>

    <img src="http://www.omnisolutionsbd.com/img/Services/Computer_India.png" height="500px" width="1200px">
    
     
<h1>WFD Labs PvtLtd</h1>
    
   <h4>WFDLABS PRIVATE LIMITED led by ANITHA SETTIPALLE and BAYA REDDY AVULA is located in Bangalore and is a Private incorporated on Sep 11, 2018. Classified as a Non-govt company and registered at Bangalore, it’s registration number is 116256 and its Corporate Identification Number is U72900KA2018PTC116256 with an Active Current status.</h4>

    <h3>WFDLABS PRIVATE LIMITED's registered address is NO.32, 4TH FLOOR, 1ST CROSS KAVERI LAYOUT, MARATHAHALLI BANGALORE Bangalore KA 560037 IN and their Annual general meeting (AGM) was last held on - and as per their Ministry of Corporation Affairs records, balance sheet was filed on -, with an authorized share capital of  1,00,000 and its paid-up capital is  1,00,000.</h3>
    
    <h5>Primary email address contact person is bayareddy10@gmail.com</h5>

   

    <hr>
  </div>
  <app-footernav></app-footernav>
  <router-outlet></router-outlet>