h1{
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-align: center;
}
div{
    /* position: absolute; */
    width:800px;
    text-align: left;
    /* padding: 4%;
    padding-left: 50px;
    left: 600px; */
}
button.a{
    /* padding-bottom: center;
    position: absolute;
   /* left:750px; */
   /* bottom: 40%; */
   text-align: left;
}
input{
    position: absolute;
    left: 240px;
}