<h1>Reset Password</h1>
<form [formGroup]="passwordForm">
<div>


<label for="newPassword" ><b>New Password</b></label>
<input type="password" name="newPassword" formControlName="newPassword" placeholder="newPassword"required ><br><br><br>

<label for="retypePassword" ><b>re-type Password</b></label>
<input type="password" name="retypePassword" formControlName="retypePassword" placeholder="retypePassword"  required ><br><br>
<!-- <span *ngIf="retypePassword.hasError('mismatch')">password do not match.</span> -->
</div>
<div class="alert alert-danger" *ngIf='Pwd'>Password doesn't match</div>
<div class="alert alert-success" *ngIf='changedpid'>Password has been changed succeessfully</div>

<button  class="btn btn-primary a" (click)="onsubmit(passwordForm.value)"[disabled]="!passwordForm.valid">submit</button></form>

