<div class="text-center" style="padding:50px 0">
  <div class="logo">Forgot Password</div>
  <div class="login-form-1">
    <form id="forgot-password-form" class="text-left">
      <div class="container-login">
        
      </div>
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
            <label for="employeeId" ><b>employeeId:</b></label>
            <input type="text"   name="employeeId" placeholder="employeeId" [(ngModel)]='employeeId' ><br><br>
            
            <label for="pancard" ><b>pancard:</b></label>
            <input type="text"   name="pancard" placeholder="pancard" [(ngModel)]='pancard'>
          </div>
        </div>
        <button type="submit" class="btn btn-primary a" (click)="addData()">submit</button>
      </div>
      <div class="container-login"><br><br><br><br><br><br><br>
        <p>already have an account? <a href="#">login here</a></p>
      </div>
    </form>
  </div>
  