<div class="tablediv">
    <h1>Client</h1>
    <table>
        <tr>
            <th>client Id</th>
            <th>client Name</th>
            <th>Edit/Delete</th>
        </tr>
        <tr *ngFor="let item of regData | paginate:{itemsPerPage: 5, currentPage:p}">
            <td>{{item.clientId}}</td>
            <td>{{item.clientName}}</td>
            <td><button (click)="ReflectData(item)" style="font-size:20px;color:grey"><i class="fa fa-edit"></i> </button>
                <button (click) = "DeleteData(item)" style="font-size: 20px;color: red"><i class="fa fa-trash-o"></i></button></td>
        </tr>
    </table>
<pagination-controls align="center" (pageChange)="p=$event"></pagination-controls>
</div>
<div class="formdiv">
    <br><br>
      Client Id:
      <input type="text"  [(ngModel)]="myData.clientId" >
      <br><br>
      Client Name:
      <input type="text"  [(ngModel)]="myData.clientName">
      <br><br>
      
      <button class="btn btn-primary a" type="submit" (click)="addData(myData)">submit</button>
     
</div>