
    <div class="tablediv">
<h1>Role</h1>	
<table>
   <tr> 
     
     <th>Id</th>
     <th>Name</th>
     <th>description</th>
    <th>Edit/Delete</th>




   </tr>
    <tr  *ngFor="let item of regData | paginate:{itemsPerPage: 5, currentPage:p}">   


   <td>{{item.id}}</td>
   <td>{{item.name}}</td>
   <td>{{item.description}}</td>
   
     <td><button (click)="ReflectData(item)" style="font-size:20px;color:red"><i class="fa fa-edit"></i> </button>&nbsp;
      <button  (click)="DeleteData(item)"style="font-size:20px"><i class="fa fa-trash-o"></i></button></td>


                
</tr>
</table>
<pagination-controls align="center" (pageChange)="p=$event"></pagination-controls>
</div>
<div class="formdiv">
  
  <br>

 
 <label>Id:</label>
  <input type="text" [(ngModel)]="myData.id">
  <br><br>
  <label>Name:</label>
  <input type="text"  [(ngModel)]="myData.name">
  <br><br>
  <label>Description:</label>
  <input type="text" [(ngModel)]="myData.description">
  <br><br>
 

 <button class="btn btn-primary a" type="submit" (click)="addData(myData)">submit</button>

</div>


<router-outlet></router-outlet>











