
<div class="container">
<div class="row">
    <div class="col-xs-9">
            <h3>Leave Status</h3>
            <table class="table table-dark">
                <thead class="thead">
                    <tr>
                  
                    <th>StatusName</th>
                   
                    
                    </tr>
                </thead>
            
            <tbody>
            <tr *ngFor='let leaves of leave'>
              
                <td>{{leaves.leaveStatusName |uppercase}}</td>
               
                <button class="btn btn-success btn-sm" (click)='edit(leaves)'>Edit</button>
                <button class="btn btn-danger btn-sm" (click)='delete(leaves)'>Delete</button>
                </tr>
            </tbody>
            
            
            
            
            </table>
            
    </div>
</div>
</div>

<form [formGroup]='form'>
<div class="container">
    <div class="row">
        <div class="col-xs-3">

        </div>
        <div class="col-xs-4">
                <div class="form-group">
            <input type="hidden" name='key' formControlName="$key">
        <label>leaveStatusName</label>
        <input type="text" #statusName formControlName='statusName'  class="form-control"> 

    </div>
                        <h1>{{statusName.value}}</h1>

                    <br><br>
                        <br>
        
                        
                
              
                
          

        </div>
    </div>
</div>
</form>





