<div class='bColor'>




    <div class="container">
    <div class="row">
            <div class="col-xs-4"></div>
        <div class="col-xs-5">
                <h3>Leave Status</h3>
                <table class="table">
                    <thead class="thead">
                        <tr>
                     
                        <th>Name :</th>
                        <th>Edit / Delete</th>
                       
                        
                        </tr>
                    </thead>
                
                <tbody>
                <tr *ngFor='let leaves of leave|paginate:{itemsPerPage: 10, currentPage:p};'>
       
                    <td>{{leaves.leaveStatusName }}</td>
                   
                    <button style="background-color: white;" class="btn-sm" (click)='editData(leaves)' >
                        <i class="fa fa-edit" style="color:green;font-size: 20px;"></i></button>
                    <button style="background-color: white;" class=" btn-sm" (click)='deleteData(leaves)'>
                        <i class="fa fa-trash" style="color:red;font-size: 20px;"></i></button>
                    </tr>
                </tbody>
                
                
                <pagination-controls align="center" (pageChange)="p=$event"></pagination-controls>
                
                </table>
                
        </div>
    </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
    
            </div>
            <div class="col-xs-5">
                    <div class="form-group">
                
            <label>Name</label><br>
            <input class="form-control" type="text" [(ngModel)]='myData.leaveStatusName' > 
    
        </div>
                  
          <button type="submit" class="btn btn-primary" (click)=sendData(myData)>Submit</button>
        
            </div>
        </div>
    </div>
    
    
    </div>
    
    
    
    
    
    