<div id="mySidenav" class="sidenav">




  <span style="color:rgb(255, 255, 255);font-size:40px ;cursor:pointer;margin-left: 200px;" class="fixed" (click)="closeNav()">&times; </span>

  <!--
    <a href="https://www.fb.com" style="color: white"> <span class="glyphicon glyphicon-user"></span> About WFD</a>
    <a href="#"  style="color: white"><span class="glyphicon glyphicon-globe"></span> Services</a>
    <a href="#"  style="color: white"><span class="	glyphicon glyphicon-thumbs-up"></span> Clients</a>
    <a href="#"  style="color: white"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a>
    <a href="#"  style="color: white"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a>
    <a href="#"  style="color: white"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a>
    <a href="#"  style="color: white"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a>
    <a href="#"  style="color: white"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a>
    <a href="#"  style="color: white"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a>

    -->


  <nav>
    <ul class='nav'>
      
      


      <li expandMenu>
          <a>
            
            <span>Admin<span class="caret"></span></span>
          </a>
        </li>
        <ul class='nav submenu'>
       <li>
            <a routerLink='sideNavRole'>
              Role
            </a>
            </li>
            <li>
              <a routerLink='sideNavLeaveStatus'>
                LeaveStatus
              </a>
              </li>
            <li>
              <a>
                <span>Client</span>
              </a>
            </li>
            <li>
              <a>
                <span>Leave Type</span>
              </a>
            </li>
        </ul>
      
        <li expandMenu>
            <a>
              
              <span>HR<span class="caret"></span></span>
            </a>
          </li>
          <ul class='nav submenu'>
         <li>
              <a>
                <span>Employee</span>
              </a>
              </li>
              
          </ul>


    </ul>
    
  </nav>


</div>
