<div class="outerLine">

<div class="login">
  <h2>WFD Labs</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <div *ngIf="errMsg" style="color: red;">{{errMsg}}</div>
    <div class="container1">

       <span class="glyphicon glyphicon-user"></span>
      <input type="text" placeholder="Employee Id"  formControlName="employeeId"
        autocomplete='off' name="employeeId" required>
      <div *ngIf="employeeId.invalid && (employeeId.dirty || employeeId.touched)" class="alert alert-danger">
                                                                                         
        <div *ngIf="employeeId.errors.required">
          EmployeeId is Required.
        </div>

      </div><br>
      <span class="glyphicon glyphicon-lock"></span>
      <input type="password"  placeholder="Password" formControlName="password"
        name="password" required>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

        <div *ngIf="password.errors.required">
          Password is Required.
        </div>

      </div><br>
      <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Login</button>
    </div>

    <div class="container" style="background-color:white">
      <span class="psw">Forgot <a>Password?</a></span>
    </div>
  </form>
</div>

</div>
