<div class="login-main">
  <div class="wfd-txt"> 
    
  </div>

  <div class="login">

    <h2 class="container-login">Login </h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
      <div *ngIf="errMsg">{{errMsg}}</div>
      <div class="container-login">
        <label for="uname">
          <b>Employee Id</b>
        </label>
        <input type="text" placeholder="Enter Employee Id" formControlName="employeeId" name="employeeId" required>
        <div *ngIf="employeeId.invalid && (employeeId.dirty || employeeId.touched)" class="alert alert-danger">

          <div *ngIf="employeeId.errors.required">
            employeeId is required.
          </div>

        </div>
        <label for="psw">
          <b>Password</b>
        </label>
        <input type="password" placeholder="Enter Password" formControlName="password" name="password" required>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

          <div *ngIf="password.errors.required">
            password is required.
          </div>

        </div>
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>

      <div class="container-login" style="background-color:#f1f1f1">
        <span class="psw">
          <a routerLink="/forgetpassword" class="btn btn-link">Forgot password?</a>
        </span>
      </div>
    </form>
  </div>
</div>
