
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: rgb(111, 121, 122);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .container-login {
    padding: 16px;
  }
  
  span.psw {
    padding-top:16px;
  }
  .login {
    width: 70%;
    margin: 1% 9% 5% 60%;
    border: #ccc 1px solid;
    padding: 0px;
    background: #f7f8f8 right;
    
      }
  .login-main {
    
    display: flex;
    background: rgb(1, 18, 20) url("/assets/img/digitalecosystem.jpg")  no-repeat center;
    
    

  }
  .wfd-txt h1{
    font-weight: 500;
    font-size: 200%;
    text-align: left;
    padding: 15%;
    color: #f50a16;
  }

  