<div class="tablediv">
<h1>Employeement History</h1>	
<table>
   <tr> 
     <th>Id</th>
     <th>Employee Id</th>
     <th>Employeer</th>
     <th>Agency</th>
     <th>Location</th>
     <th>Contact</th>
    <th>Emp Code</th>
    

    
      <th>Designation</th>
      <th>Last Sal Drawn</th>
    <th>Reason For Leaving</th>
    <th>RM</th>
    <th>Hr Manager</th>
    <th>Edit/Delete</th>




   </tr>
    <tr  *ngFor="let item of regData | paginate:{itemsPerPage: 3, currentPage:p}">   


   <td>{{item.employementHistoryId}}</td>
   <td>{{item.employeeId}}</td>
   <td>{{item.emploeer}}</td>
   <td>{{item.agencyDetails}}</td>
   <td>{{item.location}}</td>
   <td>{{item.contactDetails}}</td>
   <td>{{item.employeeCode}}</td> 
   
   <td>{{item.designation}}</td>
   <td>{{item.lastSalaryDrawn}}</td>
   <td>{{item.reasonForLeaving}}</td>
    <td>{{item.reportingManager}}</td>
     <td>{{item.hrManager}}</td>
     <td><button (click)="ReflectData(item)" style="font-size:20px;color:red"><i class="fa fa-edit"></i> </button>&nbsp;
      <button  (click)="DeleteData(item)"style="font-size:20px"><i class="fa fa-trash-o"></i></button></td>


                
</tr>
</table>
<pagination-controls align="center" (pageChange)="p=$event"></pagination-controls>
</div>
<div class="formdiv">
  
  <br>

 
 <label>EmployeeId:</label>
  <input type="text" [(ngModel)]="myData.employeeId">
  <br><br>
  <label>Employeer:</label>
  <input type="text"  [(ngModel)]="myData.emploeer">
  <br><br>
  <label>Agency Details:</label>
  <input type="text" [(ngModel)]="myData.agencyDetails">
  <br><br>
  <label>Location:</label>
  <input type="text" [(ngModel)]="myData.location" >
  <br><br>
<label> Contact Details:</label>
  <input type="text" [(ngModel)]="myData.contactDetails">
  <br><br>
 <label> Employee Code:</label>
  <input type="text" [(ngModel)]="myData.employeeCode">
  <br><br>
  

 <label> Designation:</label>
  <input type="text" [(ngModel)]="myData.designation">
  <br><br>
  
 <label> Last Salary Drawn:</label>
  <input type="text" [(ngModel)]="myData.lastSalaryDrawn">
  <br><br>
<label> Reason For Leaving:</label>
  <input type="text" [(ngModel)]="myData.reasonForLeaving">
  <br><br>
 <label>Reporting Manager:</label>
  <input type="text" [(ngModel)]="myData.reportingManager">
  <br><br>
 <label> Hr Manager:</label>
  <input type="text" [(ngModel)]="myData.hrManager">
  <br><br>

 <button class="btn btn-primary a" type="submit" (click)="addData(myData)">submit</button>

</div>


<router-outlet></router-outlet>









