<table style="width:100%">
    <tr>
        <th>Leave Type Id</th>
        <th>Leave Type Name</th>
        <th></th>

    </tr>
    <tr *ngFor="let leaveType of leaveTypeList">
        <td>{{leaveType.leaveTypeId}}</td>
        <td>{{leaveType.leaveTypeName}}</td>
        <td> <button type="delete" (click)="onDelete(leaveType.leaveTypeId)" >delete</button></td>
    </tr>
</table>
<br>
<br>
<div>
<div>
    Leave Type name:
    <input type="text" placeholder="Enter Leave Type" [(ngModel)]="leaveType">

</div>
<br>
<br>
<button type="submit" (click)="onSubmit()">submit</button>