 <div class="container-fluid">
   <div class="row">
     <div class="col-sm-12">
       
 
 <nav class="navbar navbar-fixed-top navbar-default  ">
  <div class="navbar-header">
    <span class="navbar-brand"><b class="color">
      <span style="font-size:35px;cursor:pointer" class="fixed"
      (click)="openNav()">&#9776; </span></b></span>
    
    
  </div>
  <div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    
    
  </ul>
  <div class="navbar-brand">
    
    <b class='color'><i>WFD Labs Pvt Ltd</i></b>
  </div>
  <ul class="nav navbar-nav navbar-right">
     
     
     <li><a  style="color: white;cursor: pointer;"><span class="glyphicon glyphicon-user"></span> <b> {{ firstName}} </b></a></li>
   <li>lll</li>
   </ul>
 </div>

</nav>


     </div>
   </div>
 </div>