.navbar-default{
    background-color:rgb(10, 85, 104);
    background-image: none;
    background-repeat: no-repeat;
    font-family: "Lato", sans-serif;
    
    
   }

   .color{
    color: white;
  }