

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-12">

            <div class="bs-example">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a routerLink='basic_information' routerLinkActive="active-link">
                            <h5><b>Basic Information</b></h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink='bank_details' routerLinkActive="active-link">
                            <h5><b>Bank Details</b></h5>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>