table, th, td 
{
   color: white;
    border: solid 1px #333;
    border-collapse: collapse;
}
th 
{
    font-weight:bold;
    background-color:lightblue;
}

.tablediv
{
  
	display: block;
	width:500px;
	
}
.formdiv
{
  position: relative;
  width:800px;
  text-align: left;
padding-left: 50px;
  background-color:white;

}
button.a
{
   position:absolute;
  left:340px;
}
input
{
  position:absolute;
  left:250px;

}
label
{
  position:absolute;
  left:350px;
}
h1
{
  color:blue;
  font-size:20px;
  font-weight: bold;
}
