<div class="tablediv">
    <h1>Academics</h1> 
    <table>
       <tr> 
         <th>Academic BackGroundId</th>
        <th>Affilicated University</th>
        <th>Contact Details</th>
        <th>Course StartDate</th>
        <th>Course EndDate</th>
        <th>Course Status</th>
        <th>Institute</th>
        <th>Marks Obtained</th>
        <th>Qualification</th>
        <th>Registration Number</th>
        <th>Specialization</th>
        <th>Edit/Delete</th>
    
       </tr>
       <tr  *ngFor="let item of regData">   
       <td>{{item.academicBackGroundId}}</td>
       <td>{{item.affilicatedUniversity}}</td>
       <td>{{item.contactDetails}}</td>
       <td>{{item.courseStartDate|date}}</td>
       <td>{{item.courseEndDate|date}}</td>
       <td>{{item.courseStatus}}</td>
       <td>{{item.institute}}</td>
       <td>{{item.marksObtained}}</td>  
       <td>{{item.qualification}}</td>
       <td>{{item.registrationNumber}}</td>
       <td>{{item.specialization}}</td>
       <td><button (click)="ReflectData(item)" style="font-size:20px;color:grey"><i class="fa fa-edit"></i> </button>
        <button  (click)="DeleteData(item)"style="font-size:20px;color:red"><i class="fa fa-trash-o"></i></button></td>     
    </tr>
    </table>
  
    </div>
    <div class="formdiv">
      
      
      <br><br>
      Affilicated University:
      <input type="text"  [(ngModel)]="myData.affilicatedUniversity" >
      <br><br>
      Contact Details:
      <input type="text" [(ngModel)]="myData.contactDetails" >
      <br><br>
      Course Start Date:
      <input type="date"  [(ngModel)]="myData.courseStartDate">
      <br><br>
      Course End
      Date:
      <input type="date" [(ngModel)]="myData.courseEndDate">
      <br><br>
      Course Status:
      <input type="text" [(ngModel)]="myData.courseStatus" >
      <br><br>
      Institute:
      <input type="text" [(ngModel)]="myData.institute" >
      <br><br>
      Marks Obtained:
      <input type="percentage" [(ngModel)]="myData.marksObtained" >
      <br><br>
      Qualification:
      <input type="text" [(ngModel)]="myData.qualification" >
      <br><br>
      Registration Number:
      <input type="text" [(ngModel)]="myData.registrationNumber" >
      <br><br>
      Specialization:
      <input type="text" [(ngModel)]="myData.specialization" >
      <br><br>
     
     <button class="btn btn-primary a" type="submit" (click)="addData(myData)">submit</button>
     
    
    </div>
    
    